* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* overflow: hidden; */
    font-family: 'Baloo Paaji 2', cursive;
}

p, ul {
 font-size: 1.8em;
 margin-bottom: 10px;
}

ul {
    text-align: left;
}

section {
    height: 100vh;
    width: 100vw;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.voltar,
.avancar {
    position: fixed;
    bottom: 50px;
    text-decoration: none;
    padding: 10px 50px;
    font-weight: bold;
    animation-name: surgirVoltarAvancar;
    animation-duration: 1s;
}

@keyframes surgirVoltarAvancar {
    0% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 100;}
}

.voltar {
    right: 250px;
    border: 2px solid #801500;
    background-color: #FFF;
    color: #801500;
}

.avancar {
    right: 50px;
    border: 2px solid #FFF;
    color: #FFF;
    background-color: #801500;
}

.voltar:hover,
.avancar:hover {
    box-shadow: 0 0 30px 10px #FF2A00;
    opacity: 1;
}

/****************/
/* DIAGRAMAÇÕES */
/****************/

.um {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .um div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

.umEUmHorizontal {
    display: flex;
    flex-direction: row;
    text-align: center;
}

    .umEUmHorizontal div {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 50vw;
    }

.umEUmVertical {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

    .umEUmVertical div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 50vh;
    }

.umEDoisHorizontal {
    display: flex;
    flex-direction: row;
    text-align: center;
}

    .umEDoisHorizontal div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50vw;
    }

    .umEDoisHorizontal div div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50vh;
    }

.doisEUmHorizontal {
    display: flex;
    flex-direction: row;
    text-align: center;
}

    .doisEUmHorizontal div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50vw;
    }

    .doisEUmHorizontal div div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50vh;
    }

.umEDoisVertical {
    display: flex;
    flex-direction: column;
    text-align: center;
}

    .umEDoisVertical div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        height: 50vh;
    }

    .umEDoisVertical div div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50vw;
    }

.doisEUmVertical {
    display: flex;
    flex-direction: column;
    text-align: center;
}

    .doisEUmVertical div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        height: 50vh;
    }

    .doisEUmVertical div div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50vw;
    }

.doisEDois {
    display: flex;
    text-align: center;
}

    .doisEDois div {
        height: 50vh;
        width: 50vw;
    }

    .doisEDois div div {
        display: flex;
        justify-content: center;
        align-items: center;
    }